
@{
    ViewBag.Title = "ConsolidatedTrainingNeeds";
    Layout = "~/Views/Shared/Sitemaster.cshtml";
}
<style>
    thead {
        background-color: black;
        color: white;
    }

    .selectedTableRow {
        background-color: #74788d;
        color: white;
    }

    .BtnPadding {
        padding: 7px;
        font-size: 12px;
    }
</style>
<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#" onclick="Training();">Training</a>
                </li>
                <li class="breadcrumb-item active">Consolidated Training Needs</li>
            </ul>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div style="text-align:right">
            <button style="background: #162f25; color:whitesmoke; border-radius:10px" onclick="NewConsolidatedTrainingNeed();">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> New Consolidated Training Need
            </button>
        </div>
        <hr />
        <div id="divConsolidatedNeeds"></div>
    </div>
</div>

@*//////////////////////Modal////////////////////////////*@
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header">
                <h4 class="modal-title">New Consolidated Training Need</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect " data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*//////////////////////Modal Links////////////////////////////*@
<div class="modal fade" id="myModalLinks" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header">
                <h4 class="modal-title">Actions</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBodyLinks">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect " data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/ShowProgression.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        LoadConsolidatedNeeds();

    });
    var LoadConsolidatedNeeds = function () {
        ShowProgress();
        $.ajax({
            async: true,
            type: "GET",
            dataType: 'HTML',
            contentType: false,
            processData: false,
            url: "/Training/ConsolidatedTrainingNeedsPartialView",
            success: function (data) {
                $("#divConsolidatedNeeds").empty().html(data);
                HideProgress();
            },
            error: function () {
                HideProgress();
                Swal.fire("There is some problem to process your request. Please try after some time");
            }
        });
    }
    var NewConsolidatedTrainingNeed = function () {
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: "/Training/NewConsolidatedTrainingNeeds",
            success: function (data) {
                $("#modalBody").html(data);
                HideProgress();
                $("#myModal").modal("show");
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
    var ViewDoc = function (DocNo) {
        ShowProgress();
        var form = $('<form>', {
            action: '/Training/ConsolidatedTrainingNeedsDocument',
            method: 'POST'
        }).append($('<input>', {
            type: 'hidden',
            name: 'DocNo',
            value: DocNo
        }));
        form.appendTo('body').submit();
    };
    var SubmitConsolidatedNeeds = function () {
        var txtFinancialyear = $("#txtFinancial").val().trim();
        var txtDescription = $("#Description").val().trim();

        if (txtFinancialyear == "") {
            Swal.fire('Warning', 'Please enter the financial year', 'warning');
            return;
        }
        if (txtDescription == "") {
            Swal.fire('Warning', 'Please enter the description.', 'warning');
            return;
        }
        ShowProgress();
        $.ajax({
            type: "POST",
            url: "/Training/SubmitConsolidatedTrainingNeeds",
            data: JSON.stringify({ financialYear: txtFinancialyear, description: txtDescription }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    var form = $('<form>', {
                        action: '/Training/ConsolidatedTrainingNeedsDocument',
                        method: 'POST'
                    }).append($('<input>', {
                        type: 'hidden',
                        name: 'DocNo',
                        value: data.message
                    }));
                    form.appendTo('body').submit();
                } else {
                    Swal.fire('Warning', data.message, 'warning');
                    HideProgress();
                }
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err.responseText, 'warning');
            }
        });
    };

</script>
