@{
    ViewBag.Title = "TrainingFeedbackRequisitionList";
    Layout = "~/Views/Shared/Sitemaster.cshtml";
}


@{
    ViewBag.Title = "TrainingRequisitionList";
    Layout = "~/Views/Shared/Sitemaster.cshtml";
}
<style>
    .selectedTableRow {
        background-color: #74788d;
        color: white;
    }

    .BtnPadding {
        padding: 1px;
        font-size: 12px;
    }
</style>
<div class="card pre-scrollable">
    <div class="card-title">Mandatory Back to Office List</div>
    <div class="card-body">
        <a href="#" onclick="NewTrainingRequisition();" class="btn btn-primary BtnPadding">New Back to Office</a>
        <hr/>
        <div id="divTrainingRegList"></div>
    </div>
</div>
@*//////////////////////Modal////////////////////////////*@
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header">
                <h4 class="modal-title">New Mandatory Back to Office</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect " data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*//////////////////////Modal Links////////////////////////////*@
<div class="modal fade" id="myModalLinks" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header">
                <h4 class="modal-title">Actions</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBodyLinks">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect " data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/ShowProgression.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        LoadTrainingReqList();
    });
    var LoadTrainingReqList = function () {
        ShowProgress();
        $.ajax({
            async: true,
            type: "GET",
            dataType: 'HTML',
            contentType: false,
            processData: false,
            url: "/Training/TrainingFeedbackRequisitionListPartialView",
            success: function (data) {
                $("#divTrainingRegList").html(data);
                HideProgress();
            },
            error: function () {
                HideProgress();
                alert("There is some problem to process your request. Please try after some time");
            }
        });
    }
    var SelectedRow = function (DocNo, Status) {
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ DocNo: DocNo, Status: Status, DocType: 'TRAIN' }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Common/CommonActions',
            success: function (data) {
                $("#modalBodyLinks").html(data);
                HideProgress();
                $("#myModalLinks").modal("show");
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
    var NewTrainingRequisition = function () {
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Training/NewTrainingFeedbackApplication',
            success: function (data) {
                $("#modalBody").html(data);
                HideProgress();
                $("#myModal").modal("show");
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
    var SubmitTrainingRequest = function () {
        var Department = $("#ddlDim2").children("option:selected").val();
        var Division = $("#ddlDim1").children("option:selected").val();
        var Section = $("#ddlDim3").children("option:selected").val();
        var Course = $("#ddlCourse").children("option:selected").val();
        var TrainingCat = $("#ddlCategory").children("option:selected").val();
        var Sponsor = $("#ddlSponsor").children("option:selected").val();
        var Startdate = $("#dtFrom").val();
        var EndDate = $("#dtTo").val();
        var Trainer = $("#ddlTrainer").children("option:selected").val();
        var Cost = $("#txtCost").val();
        var Purpose = $("#txtRemarks").val();
        var TrainingPlan = $("#ddlTrainingPlan").children("option:selected").val();
        var TrainingVenue = $("#ddlTrainingVenue").children("option:selected").val();
        var CostCentre = $("#ddlCostCentre").children("option:selected").val();
        if (Course == "") {
            Swal.fire('error', 'Select Course', 'error');
            return;
        }
        else if (TrainingCat == "") {
            Swal.fire('error', 'Select Training Category', 'error');
            return;
        }
        else if (TrainingPlan == "") {
            Swal.fire('error', 'Select Training plan', 'error');
            return;
        }
        else if (TrainingVenue == "") {
            Swal.fire('error', 'Select Training Venue', 'error');
            return;
        }
        else if (CostCentre == "") {
            Swal.fire('error', 'Select Cost Centre', 'error');
            return;
        }
        else if (Sponsor == "") {
            Swal.fire('error', 'Select Sponsor', 'error');
            return;
        }
        else if (Startdate == "") {
            Swal.fire('error', 'Select Start Date', 'error');
            return;
        }
        else if (EndDate == "") {
            Swal.fire('error', 'Select End Date', 'error');
            return;
        }
        else if (Trainer == "") {
            Swal.fire('error', 'Select Trainer', 'error');
            return;
        }
        else if (Cost == "") {
            Swal.fire('error', 'Enter Cost of Training', 'error');
            return;
        }
        else if (Purpose == "") {
            Swal.fire('error', 'Enter Purpose of the Trip', 'error');
            return;
        }
        else {
            var TrainingApplications = {};
            TrainingApplications.Department = Department;
            TrainingApplications.Division = Division;
            TrainingApplications.Section = Section;
            TrainingApplications.Course_Title = Course;
            TrainingApplications.Training_Category = TrainingCat;
            TrainingApplications.Sponsor = Sponsor;
            TrainingApplications.StartDate = Startdate;
            TrainingApplications.EndDate = EndDate;
            TrainingApplications.Trainer = Trainer;
            TrainingApplications.Cost = Cost;
            TrainingApplications.TrainingPlan = TrainingPlan;
            TrainingApplications.TrainingVenue = TrainingVenue;
            TrainingApplications.CostCentre = CostCentre;
            TrainingApplications.Purpose = Purpose;
            ShowProgress();
            $.ajax({
                type: "post",
                url: "/Training/SubmitTrainingDocument",
                data: JSON.stringify({ NewApp: TrainingApplications }),
                contentType: "application/json; charset = utf-8",
                success: function (data) {
                    if (data.success == true) {
                        window.location = data.message;
                        $("#myModal").modal("hide");
                    }
                    else {
                        $("#myModal").modal("hide");
                        HideProgress();
                        Swal.fire('error', data.message, 'error');
                    }
                },
                error: function () {
                    HideProgress();
                    Swal.fire('error', data.message, 'error');
                }
            });
        }
    }
    var ViewDoc = function (DocNo) {
        ShowProgress();
        window.location = "/Training/TrainingFeedbackDocumentDetails?AppDoc=" + DocNo;
    }
    var SendDocForApproval = function (DocNo) {
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ DocNo: DocNo }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Transport/SendDocAppForApproval',
            success: function (data) {
                if (data.success == true) {
                    HideProgress();
                    LoadTransportReqList();
                    $("#myModalLinks").modal("hide");
                    Swal.fire('Success', data.message, 'success');
                }
                else {
                    HideProgress();
                    Swal.fire('Error', data.message, 'error');
                }
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
    var CancelDocForApproval = function (DocNo) {
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ DocNo: DocNo }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Transport/CancelTransportAppForApproval',
            success: function (data) {
                if (data.success == true) {
                    HideProgress();
                    LoadTransportReqList();
                    $("#myModalLinks").modal("hide");
                    Swal.fire('Success', data.message, 'success');
                }
                else {
                    HideProgress();
                    Swal.fire('Error', data.message, 'error');
                }
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
    var ViewApprovalTrail = function (DocNo) {
        $("#labelF").text("Document Approval Trail");
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ DocNo: DocNo, RecID: "HR Training Applications: " + DocNo }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Common/DocumentApprovalTrail',
            success: function (data) {
                $("#modalBody").html(data);
                HideProgress();
                $("#myModalLinks").modal("hide");
                $("#myModal").modal("show");
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
    var ViewDocComments = function (documentNumber) {
        $("#labelF").text("Document Comments");
        ShowProgress();
        var RecordID = "HR Training Applications: " + DocNo;
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ docNo: documentNumber }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Common/DocumentApprovalComments',
            success: function (data) {
                $("#modalBody").html(data);
                HideProgress();
                $("#myModalLinks").modal("hide");
                $("#myModal").modal("show");
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
</script>