@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/Sitemaster.cshtml";
}
<style>
    .selectedTableRow {
        background-color: #74788d;
        color: white;
    }

    .BtnPadding {
        padding: 1px;
        font-size: 12px;
    }
</style>

<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#" onclick="ProcurementLink();">Purchase</a>
                </li>
                <li class="breadcrumb-item active">Framework Contract</li>
            </ul>
        </div>
    </div>
</div>
<hr />
<div class="card">
    <div class="card-body">
      @*  <div style="text-align:right" id="HideEditButton">
            <input type="button" style="background: #162f25; color:whitesmoke; border-radius:10px" value="New Framework Contract" onclick="NewFrameworkContract();" />
        </div>*@
        <hr />
        <div id="divFrameworkContractList"></div>
    </div>
</div>
@*//////////////////////Modal////////////////////////////*@
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header">
                <h4 class="modal-title">
                    <label id="labelF"></label>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect " data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*//////////////////////Modal Links////////////////////////////*@
<div class="modal fade" id="myModalLinks" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header">
                <h4 class="modal-title">Actions</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBodyLinks">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect " data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/ShowProgression.js"></script>


<script type="text/javascript">

    //Load Framework Contract list

    $(document).ready(function () {
        LoadFrameworkContractRequest();
    });
    var LoadFrameworkContractRequest = function () {
        ShowProgress();
        $.ajax({
            async: true,
            type: "GET",
            dataType: 'HTML',
            contentType: false,
            processData: false,
            url: "/Purchase/FrameworkContractList",
            success: function (data) {
                $("#divFrameworkContractList").html(data);
                HideProgress();
            },
            error: function () {
                HideProgress();
                alert("There is some problem to process your request. Please try after some time");
            }
        });
    }

    //Load document
    var ViewDoc = function (Code) {
        ShowProgress();
        window.location = "/Purchase/FrameworkContractDocumentView?Code=" + Code;
    }


    //Purchase requisition
    var NewFrameworkContract = function () {
        $("#labelF").text("New Framework Contract Form");
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Purchase/NewFrameworkContract',
            success: function (data) {
                $("#modalBody").html(data);
                HideProgress();
                $("#myModal").modal("show");
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }


    function SubmitFrameworkContract() {
        var isValid = true;

        // Fetching values from the form
        var responsibilityCenter = $("#Responsibility_Center").val();
        if (!responsibilityCenter) {
            Swal.fire('Warning', 'Please select a Responsibility Center.', 'warning');
            isValid = false;
        }

        var locationCode = $("#Location_Code").val();
        if (!locationCode) {
            Swal.fire('Warning', 'Please select a Location.', 'warning');
            isValid = false;
        }

        var tenderName = $("#Tender_Name").val();
        if (!tenderName) {
            Swal.fire('Warning', 'Tender Name is required.', 'warning');
            isValid = false;
        }

        var tenderSummary = $("#Tender_Summary").val();
        if (!tenderSummary) {
            Swal.fire('Warning', 'Tender Summary is required.', 'warning');
            isValid = false;
        }

        var procurementType = $("#Procurement_Type").val();
        if (!procurementType) {
            Swal.fire('Warning', 'Please select a Procurement Type.', 'warning');
            isValid = false;
        }

        var requisitionProductGroup = $("#Requisition_Product_Group").val();
        if (!requisitionProductGroup) {
            Swal.fire('Warning', 'Please select a Requisition Product Group.', 'warning');
            isValid = false;
        }

        var procurementCategory = $("#Procurement_Category").val();
        if (!procurementCategory) {
            Swal.fire('Warning', 'Please select a Procurement Category.', 'warning');
            isValid = false;
        }

        var purchaserCode = $("#Purchaser_Code").val();
        if (!purchaserCode) {
            Swal.fire('Warning', 'Please select a Purchaser.', 'warning');
            isValid = false;
        }

        var languageCode = $("#Language_Code").val();
        if (!languageCode) {
            Swal.fire('Warning', 'Please select a Language.', 'warning');
            isValid = false;
        }

        // If the form is not valid, stop the submission
        if (!isValid) {
            return;
        }

        // Create the data object from the form values
        var frameworkContractRequest = {
            Responsibility_Center: responsibilityCenter,
            Location_Code: locationCode,
            Tender_Name: tenderName,
            Tender_Summary: tenderSummary,
            Procurement_Type: procurementType,
            Requisition_Product_Group: requisitionProductGroup,
            Procurement_Category: procurementCategory,
            Purchaser_Code: purchaserCode,
            Language_Code: languageCode
        };

        // Show the progress indicator
        ShowProgress();

        // Send the AJAX request
        $.ajax({
            type: "POST",
            url: "/Purchase/SubmitFrameworkContract",
            data: JSON.stringify(frameworkContractRequest),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                // Hide the progress indicator
                HideProgress();

                // Handle success
                if (data.success) {
                    window.location = data.message;
                } else {
                    Swal.fire('Error', data.message, 'error');
                }
            },
            error: function (err) {
                // Hide the progress indicator and handle error
                HideProgress();
                Swal.fire('Error', err.responseText, 'error');
            }
        });
    }



    var SendDocForApproval = function (DocNo) {
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ DocNo: DocNo }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Purchase/SendPurchaseAppForApproval',
            success: function (data) {
                if (data.success == true) {
                    HideProgress();
                    LoadPurchaseRequisition();
                    $("#myModalLinks").modal("hide");
                    Swal.fire('Success', data.message, 'success');
                }
                else {
                    HideProgress();
                    Swal.fire('Error', data.message, 'error');
                }
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
    var DelegateDocForApproval = function (DocNo) {
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ DocNo: DocNo }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Common/DelegateApproval',
            success: function (data) {
                if (data.success == true) {
                    HideProgress();
                    LoadPurchaseRequisition();
                    $("#myModalLinks").modal("hide");
                    Swal.fire('Success', data.message, 'success');
                }
                else {
                    HideProgress();
                    Swal.fire('Error', data.message, 'error');
                }
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
    var CancelDocForApproval = function (DocNo) {
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ DocNo: DocNo }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Purchase/CancelPurchaseAppForApproval',
            success: function (data) {
                if (data.success == true) {
                    HideProgress();
                    LoadPurchaseRequisition();
                    $("#myModalLinks").modal("hide");
                    Swal.fire('Success', data.message, 'success');
                }
                else {
                    HideProgress();
                    Swal.fire('Error', data.message, 'error');
                }
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });

    }
    var ViewApprovalTrail = function (DocNo) {
        $("#labelF").text("Document Approval Trail");
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ DocNo: DocNo, RecID: "Purchase Header: Quote," + DocNo }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Common/DocumentApprovalTrail',
            success: function (data) {
                $("#modalBody").html(data);
                HideProgress();
                $("#myModalLinks").modal("hide");
                $("#myModal").modal("show");
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
    var ViewDocComments = function (documentNumber) {
        $("#labelF").text("Document Comments");
        ShowProgress();
        var RecordID = "Purchase Header: Quote," + DocNo;
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ docNo: documentNumber }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Common/DocumentApprovalComments',
            success: function (data) {
                $("#modalBody").html(data);
                HideProgress();
                $("#myModalLinks").modal("hide");
                $("#myModal").modal("show");
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
</script>