@{
    Layout = "~/Views/Shared/Sitemaster.cshtml";
}
<style>
    .selectedTableRow {
        background-color: #74788d;
        color: white;
    }

    .BtnPadding {
        padding: 1px;
        font-size: 12px;
    }
</style>

<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#" onclick="ProcurementDashboard();">Procurement</a>
                </li>
                <li class="breadcrumb-item active">Procurement Plan Ammendments</li>
            </ul>
        </div>
    </div>
</div>
<hr />
<br />
<div class="card">
    <div class="card-body">
        <hr />
        <div style="text-align:right">
            <button style="background: #162f25; color:whitesmoke; border-radius:10px" onclick="NewProcurementPlanAmmendment();">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> New Procurement Plan Ammendment
            </button>
        </div>
        <hr />
        <div id="divProcurementPlanAmmendmentsList"></div>
    </div>
</div>

@*//////////////////////New procurement plan ammendment Modal////////////////////////////*@
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header">
                <h4 class="modal-title">
                    <label id="labelF"></label>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-primary waves-effect waves-light" value="Submit" onclick="SubmitProcurementPlanAmmendment();" />
                <button type="button" class="btn btn-danger waves-effect " data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*//////////////////////Modal Links////////////////////////////*@
<div class="modal fade" id="myModalLinks" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header">
                <h4 class="modal-title">Actions</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBodyLinks">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect " data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/ShowProgression.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        LoadProcurementPlanAmmendmentsList();
    });
    var LoadProcurementPlanAmmendmentsList = function () {
        ShowProgress();
        $.ajax({
            async: true,
            type: "GET",
            dataType: 'HTML',
            contentType: false,
            processData: false,
            url: "/Purchase/ProcurementPlanAmmendmentsList",
            success: function (data) {
                $("#divProcurementPlanAmmendmentsList").html(data);
                HideProgress();
            },
            error: function () {
                HideProgress();
                alert("There is some problem to process your request. Please try after some time");
            }
        });
    }
    var NewProcurementPlanAmmendment = function () {
        $("#labelF").text("New Procurement Plan Ammendment Form");
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Purchase/NewProcurementPlanAmmendment',
            success: function (data) {
                $("#modalBody").html(data);
                HideProgress();
                $("#myModal").modal("show");
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }

    function SubmitProcurementPlanAmmendment() {
        var dim1 = $("#dim1").val();
        var dim2 = $("#dim2").val();
        var Type = $("#Type").val();
        var PlanNo = $("#PlanNo").val();
        var Description = $("#Description").val();
        var Ammendment_Reason = $("#Ammendment_Reason").val();
 


        if (!dim1) {
            Swal.fire('Warning', 'Please select Geographical Location.', 'warning');
            return;
        }
        if (!dim2) {
            Swal.fire('Warning', 'Please select Admin Unit.', 'warning');
            return;
        }
        if (!Type) {
            Swal.fire('Warning', 'Please select type.', 'warning');
            return;
        }
        if (!PlanNo) {
            Swal.fire('Warning', 'Please select plan No.', 'warning');
            return;
        }
        if (!Description) {
            Swal.fire('Warning', 'Please Enter Description', 'warning');
            return;
        }
        if (!Ammendment_Reason) {
            Swal.fire('Warning', 'Please Enter Ammendment Reason.', 'warning');
            return;
        }
          
        var procurementPlanAmmmendment = {
            Global_Dimension_1_Code: dim1,
            Global_Dimension_2_Code: dim2,
            Type: Type,
            PlanNo: PlanNo,
            Description: Description,
            Ammendment_Reason: Ammendment_Reason,     
        };

        ShowProgress();
        $.ajax({
            type: "POST",
            url: "/Purchase/SubmitProcurementPlanAmmmendment",
            data: JSON.stringify(procurementPlanAmmmendment),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.success) {
                   ViewDoc(data.message);
                } else {
                    Swal.fire('Warning', data.message, 'warning');
                    HideProgress();
                }
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err.responseText, 'warning');
            }
        });
    }

    var ViewDoc = function (Code) {
        ShowProgress();
        var form = $('<form>', {
            action: '/Purchase/ProcurementPlanAmmendmentDocument',
            method: 'POST'
        }).append($('<input>', {
            type: 'hidden',
            name: 'Code',
            value: Code
        }));
        form.appendTo('body').submit();
    };



    var ViewDoc2 = function (Code) {
        ShowProgress();
        window.location = "/Purchase/ProcurementPlanAmmendmentDocument?docNo=" + Code;
    }
    var SendDocForApproval = function (DocNo) {
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ DocNo: DocNo }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Purchase/SendPurchaseAppForApproval',
            success: function (data) {
                if (data.success == true) {
                    HideProgress();
                    LoadPurchaseRequisition();
                    $("#myModalLinks").modal("hide");
                    Swal.fire('Success', data.message, 'success');
                }
                else {
                    HideProgress();
                    Swal.fire('Error', data.message, 'error');
                }
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
    var DelegateDocForApproval = function (DocNo) {
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ DocNo: DocNo }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Common/DelegateApproval',
            success: function (data) {
                if (data.success == true) {
                    HideProgress();
                    LoadPurchaseRequisition();
                    $("#myModalLinks").modal("hide");
                    Swal.fire('Success', data.message, 'success');
                }
                else {
                    HideProgress();
                    Swal.fire('Error', data.message, 'error');
                }
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
    var CancelDocForApproval = function (DocNo) {
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ DocNo: DocNo }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Purchase/CancelPurchaseAppForApproval',
            success: function (data) {
                if (data.success == true) {
                    HideProgress();
                    LoadPurchaseRequisition();
                    $("#myModalLinks").modal("hide");
                    Swal.fire('Success', data.message, 'success');
                }
                else {
                    HideProgress();
                    Swal.fire('Error', data.message, 'error');
                }
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });

    }
    var ViewApprovalTrail = function (DocNo) {
        $("#labelF").text("Document Approval Trail");
        ShowProgress();
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ DocNo: DocNo, RecID: "Purchase Header: Quote," + DocNo }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Common/DocumentApprovalTrail',
            success: function (data) {
                $("#modalBody").html(data);
                HideProgress();
                $("#myModalLinks").modal("hide");
                $("#myModal").modal("show");
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
    var ViewDocComments = function (documentNumber) {
        $("#labelF").text("Document Comments");
        ShowProgress();
        var RecordID = "Purchase Header: Quote," + DocNo;
        $.ajax({
            async: true,
            type: "POST",
            datatype: "json",
            data: JSON.stringify({ docNo: documentNumber }),
            contentType: "application/json; charset = utf-8",
            processData: false,
            url: '/Common/DocumentApprovalComments',
            success: function (data) {
                $("#modalBody").html(data);
                HideProgress();
                $("#myModalLinks").modal("hide");
                $("#myModal").modal("show");
            },
            error: function (err) {
                HideProgress();
                Swal.fire('Warning', err, 'warning');
            }
        });
    }
</script>